/* cite */
/* sup {
	color: blue;
	cursor: pointer;
	position: relative;
}
sup span {
	background-color: #eee;
	position: absolute;
	left: -8px;
	bottom: 25px;
	width: 20em;
	line-height:  1.5em;
	padding: 5px;
	visibility: hidden;
	opacity: 0;
	transition: all 1s;
}
sup span:before {
	content: '';
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	border-color: #000 transparent transparent transparent;
	position: absolute;
	bottom: -20px;
}
sup:hover span {
	visibility: visible;
	opacity: 1;
} */
/* cite end */
.ttip{
	position: relative;
}
.tip {
	position: absolute;
    left: 100%;
    bottom: 20%;
    background-color: #00f;
    color: #fff;
    padding: 1em;
    border-radius: 8px;
    display: block;
    white-space: nowrap;
    margin-left: 0.5em;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.tip:before {
	content: '';
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent #00f transparent transparent;
    position: absolute;
    left: -20px;
}
.ttip:hover .tip{
	visibility: visible;
	opacity: 1;
	margin-left: 1em;
}